@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

:root {
    --cor-red-normal: #e43228;
    --cor-red-dark: #af0917;
    --cor-red-light: #fab8b4;
    --cor-neutral: #717171;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, Roboto, Segoe UI, BlinkMacSystemFont, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    width: 100vw;
    height: 100vh;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    outline: none;
}

button {
    cursor: pointer;
}